<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.bboxtype.KernkraftPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kernkraft</string>
	<key>CFBundleVersion</key>
	<string>2.3.4</string>
	<key>CFBundleShortVersionString</key>
	<string>8</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Mark Frömberg for bBox Type GmbH 2016–now</string>
	<key>NSPrincipalClass</key>
	<string>KernkraftPlugin</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
